
analyses/Past/Rplot.pdf

analyses/Ahya/Ahya_blastx_uniprot_sql.tab

analyses/Ahya/Ahya_blastx_uniprot_sql.tab.sorted

analyses/Amil/Amil_blastx_uniprot_sql.tab

analyses/Amil/Amil_blastx_uniprot_sql.tab.sorted

analyses/Amil/Amil_cpg_anno

analyses/Amil/ID_CpG

analyses/Apalm/.RData

analyses/Apalm/.Rhistory

analyses/Apalm/Apalm_blastx_uniprot_sql.tab

analyses/Apalm/Apalm_blastx_uniprot_sql.tab.sorted

analyses/Apalm/Apalm_cpg_anno

analyses/Past/.RData

analyses/Past/Past_blastx_uniprot.sql.tab.sorted

*.docx

MS-files/Coral-CpG-ratio-MS-figures.pdf

MS-files/Coral-CpG-ratio-MS-tables.pdf

MS-files/Coral-CpG-ratio-MS-tables.rtf

MS-files/Coral-CpG-ratio-MS.pdf

MS-files/Dimond&Roberts_MS.pdf

analyses/Amil/?acc=GSE33016

analyses/Amil/Amil_exp_cpg

analyses/Amil/Amil_exp_CpG2

analyses/Amil/comb
